.button{
    position:relative;
    top:-20px;
    left: 300px;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    border-style: solid;
    background: #32C1E0;
    border-color: #32C1E0;
    color: white;
    font-weight: 700;
    font-size: 17px;
}

.button:hover{
    background: #32c0e08e;
}