.title{
    color: violet;
    top: -20px;
    margin-bottom: -40px;
}

.image{
    position: relative;
    width: 90%;
    
   

}

.certificate{
    display: grid;
    align-items: center;
    justify-content: center;
}

.button{

    position:relative;
    top:-50px;
    left: 300px;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    border-style: solid;
    background: #32C1E0;
    border-color: #32C1E0;
    color: white;
    font-weight: 700;
    font-size: 17px;
}

.button:hover{
    background: #32c0e08e;
}